* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
}

.container-fluid {
    position: absolute;
    width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
}

.header {
    height: 100px;
    background: #272b2b;
    color: white;
}

h1 {
    line-height: 100px;
}

.search-col {
    min-height: 100%;
    background: #eee;
    padding: 20px;
}

#search-bar {
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0 5px;
}

button {
    margin: 3px;
    background: #008cff;
    color: white;
    border-style: none;
    border-radius: 3px;
}

#submit-button {
    height: 40px;
    width: 40px;
}

#clear-button {
    margin-top: 15px;
    padding: 5px 15px;
}

#search-display {
    margin-top: 15px;
}

.list-item {
    background: white;
    color: #808080;
    padding: 5px;
    border: 1px solid #ddd;
    margin: 5px 0;
}

.list-item:hover {
    cursor: pointer;
}

.main {
    height: 100%;
}

#uv-index {
    padding: 5px;
    border-radius: 3px;
}

.green {
    background: #5fb85f
}

.yellow {
    background: #ffff76
}

.orange {
    background: orange
}

.red {
    background: red;
    color: white;
}

.forecast {
    padding: 10px;
    background: #008cff;
    color: white;
    margin: 5px;
    border-radius: 5px;
}

@media screen and (max-width: 1078px) {
    #search-bar {
        width: 100%;
    }

    .search-col {
        text-align: right;
    }

    #submit-button {
        margin-top: 15px;
    }

    .list-item {
        text-align: left;
    }
}

@media screen and (max-width: 960px) {
    h1 {
        font-size: 2em;
    }
    
    h3 {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 575px) {
    .search-col {
        text-align: left;
        min-height: 30%;
    }

    #search-bar {
        width: 85%;
    }

    .weather-icon {
        float: right;
        height: 70px; 

    }

    
}